.Movies {
  padding: 70px 70px 80px;
  background-color: var(--interdace-background-color);
}

.button {
  border: none;
  cursor: pointer;
  display: block;
  width: 320px;
  border-radius: 6px;
  padding: 10px 0;
  background-color: var(--interface-special-2-color);
  color: var(--interface-font-main-color);
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 60px auto 0;
}

.button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023.98px) {
  .Movies {
    padding: 80px 30px;
  }

  .button {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767.98px) {
  .Movies {
    padding: 98px 10px 90px;
  }

  .button {
    width: 240px;
  }
}
