.Movies {
  padding: 70px 70px 80px;
  background-color: var(--interdace-background-color);
}

@media screen and (max-width: 1023.98px) {
  .Movies {
    padding: 80px 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .Movies {
    padding: 98px 10px 90px;
  }
}
