.Profile {
  width: 410px;
  padding: 68px 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--interdace-font-main-color);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 123px;
  text-align: center;
}

.label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 17px;
  border-bottom: solid 1px var(--interface-stroke-2-color);
}

.label:last-of-type {
  border-bottom: none;
  margin-bottom: 220px;
  padding-bottom: 0;
}

.text {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  color: var(--interdace-font-main-color);
}

.input {
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  color: var(--interdace-font-main-color);
  border: none;
  outline: none;
}

.button {
  border: none;
  background: inherit;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: var(--interface-font-main-color);
}

.button:hover {
  opacity: 0.8;
}

.edit {
  margin-bottom: 11px;
}

.logout {
  color: var(--interface-main-3-color);
}

@media screen and (max-width: 1023.98px) {
  .Profile {
    padding: 236px 0 269px;
  }

  .title {
    margin-bottom: 96px;
  }

  .label:last-of-type {
    margin-bottom: 206px;
  }

  .edit {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .Profile {
    padding: 70px 0 40px;
    width: 260px;
  }

  .title {
    margin-bottom: 80px;
  }

  .label:last-of-type {
    margin-bottom: 375px;
  }

  .edit {
    margin-bottom: 15px;
  }
}
