.title {
  margin: 0;
  padding: 0;
  color: var(--interface-font-2-color);
  margin-bottom: 30px;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
