.SearchForm {
  padding: 0 0 50px;
}

.container {
  padding-bottom: 15px;
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--interface-stroke-2-color);
}

.input {
  padding: 0 10px;
  border: none;
  text-align: center;
  outline: none;
  color: var(--interface-font-main-color);
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  font-feature-settings:
    "clig" off,
    "liga" off;
  width: 100%;
}

.input::placeholder {
  color: var(--interface-font-2-color);
}

.button {
  border: none;
  padding: 0;
  cursor: pointer;
  width: 80px;
  height: 34px;
  background-color: var(--interface-main-2-color);
  background-image: url("../../images/loupe-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 48px;
  flex-shrink: 0;
}

.button:hover {
  opacity: 0.7;
}

.label {
  position: relative;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkbox:checked + span {
  background: url("../../images/tumb.svg");
}

.visibleCheckbox {
  display: block;
  width: 36px;
  height: 20px;
  background: url("../../images/tumboff.svg");
  cursor: pointer;
}

.text {
  color: var(--interface-font-main-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 1023.98px) {
  .SearchForm {
    padding-bottom: 62px;
  }
}

@media screen and (max-width: 767.98px) {
  .SearchForm {
    padding-bottom: 50px;
  }

  .icon {
    display: none;
  }

  .input {
    text-align: left;
    font-size: 18px;
  }

  .text {
    font-size: 11px;
    line-height: 18px;
  }
}
