.Header {
  padding: 18px 70px;
  background-color: var(--interface-primary-header-color);
  display: flex;
  gap: 44px;
  position: relative;
}

.landingHeader {
  justify-content: space-between;
  background-color: var(--interface-landing-2-color);
}

.authHeader {
  padding: 0;
}

.buttons {
  display: flex;
  align-self: center;
  gap: 30px;
}

.link {
  color: var(--interface-landing-font-1-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  align-self: center;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}

.burger {
  flex-grow: 1;
}

.burgerIcon {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.closeIcon {
  display: none;
}

@media screen and (max-width: 1023.98px) {
  .Header {
    padding: 18px 30px;
    justify-content: space-between;
  }

  .burgerIcon {
    display: block;
  }

  .burgerIconHidden {
    display: none;
  }

  .burger {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--interdace-blackout-background-color);
  }

  .burgerOpen {
    display: block;
  }

  .container {
    height: 100vh;
    padding: 159px 90px 92px;
    box-sizing: border-box;
    margin-left: auto;
    width: 520px;
    background-color: var(--interface-primary-color);
    flex-direction: column;
    align-items: center;
  }

  .closeIcon {
    display: block;
    position: absolute;
    top: 22px;
    right: 22px;
  }
}

@media screen and (max-width: 767.98px) {
  .Header {
    padding: 18px 14px;
  }

  .buttons {
    gap: 14px;
  }

  .link {
    font-size: 10px;
  }
}
