.Register {
  margin: 40px auto 0;
  width: 396px;
  background-color: var(--interdace-background-color);
}

.title {
  margin: 0;
  padding: 0;
  color: var(--interdace-font-main-color);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}

.label {
  display: block;
  color: var(--interface-font-2-color);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  font-family: inherit;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
  border-bottom: solid 1px var(--interface-stroke-2-color);
  margin-bottom: 6px;
  outline: none;
}

.input:focus {
  border-color: var(--interface-main-2-color);
}

.inputError {
  color: var(--interface-main-3-color);
}

.error {
  display: block;
  margin-bottom: 8px;
  color: var(--interface-main-3-color);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.error:last-of-type {
  margin-bottom: 134px;
}

.text {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  color: var(--interface-font-2-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.link {
  text-decoration: none;
  color: var(--interface-font-main-color);
}

.link:hover {
  opacity: 0.7;
}
